*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.enterScreen{
    display: flex;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 5vh;
    background-image: url(../../images/enterScreen/enterScreen3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: hidden;
    div{
        margin: auto;
        margin-top: 4.5em;;
        background-image: none;
    }
}

.flexbox{
    //display: flex;
    //overflow-x: hidden;
}
.gameScreen{
    position: relative
    //align-items: center;
    //overflow-y: hidden;
    

}