body{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 3rem;
    background-image: url(../../images/enterScreen/enterScreen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}

.enterScreen{
    display: flex;
    div{
        margin: auto;
        margin-top: 130px;
        // h1{
        //     opacity: 50%;
        // }
    }
}